body{
    margin: 0px;
    width: 100%;
}
.fav{
    background-image: url()
}

.nav{
    width: 100%;
}
.nav .page{
    background-image: url(./jpeg/interior-1961070__480.jpg)
}
.nav .bar{
    width: 99%;
    box-shadow: 1px 1px 10px 1px grey;
    padding: 10px 10px 0px 0 ;
    position: relative;
    background-color: orangered;
    margin: auto;
    display: inline-block;
    margin-top: -10px


}

.nav .bar p{
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
    color: #ccc;
    font-size: 30px;


}
.hr{
    align-items: top
}
.nav .bar hr{
    width: 3%;
    margin: 6px;
}
.nav .bar .drpdwn .content{
    display: none;
    position: absolute;
    width: 20%;
    background-color: antiquewhite;
    padding: 20px 20px;
    list-style: none;
    margin: 4px;

}
.nav .bar :hover .content{
    display: block;
}

.nav .page1{
    background-image: url(./jpeg/interior-1961070__480.jpg);
    height: 300px;
    width: 100%;
    margin-bottom: 5%
}
.nav .page1 h1{
    text-align: center;
    text-transform: capitalize;
}
.nav .page1 h2{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    
}
.nav .page1 button{
    background-color:#ccc;
    color: orangered;
}
.nav .page1 .prev{
    float: left;
    margin-top: 10%;
}
.nav .page1 .next{
    float: right;
    margin-top: 10%;
}
.img h2{
    color: orangered;
    text-align: center;
    text-transform: capitalize;
}
.img img{
    display: flex;
    width: 50%;
    margin: 20px
}
.service{
    margin-top: 10%;
}
.service h1{
    color: orangered;
    font-weight: 900;
    text-transform: capitalize;
}
.service .des{
    font-weight: 900

}
.service P{
    font-size: 20PX
}
.team p{
    font-weight: bold;

}
.profile{
    position: relative;
    margin: auto;
}
.profile img{
    height: 200px;
    width: 250px;
    
    
}
.profile figure{
    margin: 10px;
    border: 1px solid #ccc;
    width: 250px;
    vertical-align: middle;

}
.profile figcaption{
    text-align: center;
    margin-top: -11px; 
}
.package h2{
    color: orangered;
    font-weight: 900;
}
#pricing .basic{
    position: relative;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 100%;
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 20px;
    border:1px solid #ccc;   
}
#pricing .basic .h2{
    text-transform: capitalize;
    text-align: center;
    background-color: orangered;
    margin: 20px;
    font-size: 21px;
    padding: 12px;
    margin: 0px
}
#pricing .basic li{
    list-style: none;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 100%;
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 20px;
}
#pricing .basic .fam{
    border-bottom: 1px solid gray;
}
#pricing .basic button{
    padding: 10px;
    background-color: black;
    color: orangered;
    width: 80px
}
#pricing .basic :hover button{
    background-color: orangered;
    color: black;
}
#pricing .pro {
    position: relative;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 100%;
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 20px;
    border:1px solid #ccc;
}
#pricing .pro .dop{
    text-transform: capitalize;
    text-align: center;
    background-color: orangered;
    margin: 20px;
    font-size: 21px;
    padding: 12px;
    margin: 0px;
    align-content: center
    
}
#pricing .pro li{
    list-style: none;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 100%;
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 20px;
}
#pricing .pro .dam{
    border-bottom: 1px solid gray;
    text-align: center;
}
#pricing .pro button{
    padding: 10px;
    background-color: black;
    color: orangered;
    width: 80px;
    margin-bottom: 5px;
    align-items: center;
}
#pricing .pro :hover button{
    background-color: orangered;
    color: black
}
.con h1{
    color: orangered;
    font-weight: 900;
    font-size: 30px;
    text-transform: capitalize;
    al
}
form{
    width: 100%;

}
.con button{
    width: 50%;
    color: #ccc;
    background-color: orangered;
    padding: 12px
}
.con :hover button{
    color: black;
    background-color: gray;
}


